@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {height: 100%; width: 100%}

body {
  font-family: 'Segoe UI', sans-serif;
  min-width: 100%;
  font-size: 70%;
}

.main{
  display: flex;
}

.data {
  min-width: 50%; 
  max-width: 50%;
}

#data{
  min-width: 100%;
}

#pages{
    color: inherit;
    /*font-weight: bold;*/
    border: 1px solid black;
    margin: 4px;
}

#changeValue{
  margin-left: 50px;
}

.heading {
  cursor: pointer;
  min-width: 50%;
  max-width: 25%;
}

.page {
  cursor: pointer;
  width: 20px;
}

.page:hover {
  background: #FAEBD7;
}

.heading:hover {
  background: #FAEBD7;
}

.row:hover{ /* выделение выбранной строки зеленым цветом */
  background: #66CDAA;
  cursor: pointer;
}










.about {
  overflow: hidden; /* прячет текст */
  text-overflow: ellipsis;
  word-wrap: break-word;
  /*line-height: 180%;*/

  white-space: nowrap;
  max-width: 200px;
  /*max-height: 25px;*/
  
  /*background-color:#fff5ee;  */
}



.net{
  border: 1px solid black;
}



/*i:after{
  content: '\2191';
}

a {
  cursor: pointer;
  padding: 0px 5px;
}

a:hover {
  background: #66CDAA;
}
*/
.button {
    display: none;
}

.heading:hover + .button, .button:hover {
    display: inline-block;
}


